<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.submeter.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="com.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.permission.BLUETOOTH" />
    <uses-permission android:name="com.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 【可选】 信鸽SDK所需权限 -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <!--share mob add start-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--share mob add end-->

    <!--dangerous permission start-->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--dangerous permission end-->

    <application
        android:name="com.submeter.android.SubmeterApp"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:name,android:allowBackup">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4f23139f0c96499696e11a3478d4c919"/>

        <activity
            android:name="com.submeter.android.activity.welcome.view.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.submeter.android.activity.produceIntroduce.ProduceIntroductionActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/mainPageStyle"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.zbar.CaptureActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/mainPageStyle"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.submeter.android.activity.main.view.MainActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/mainPageStyle"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.submeter.android.activity.outDisposeInfo.view.OutDisposeInfoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/mainPageStyle"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.submeter.android.activity.historyData.view.HistoryDataActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/mainPageStyle"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.submeter.android.activity.login.view.LoginActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/mainPageStyle"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.submeter.android.activity.register.view.RegisterActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.submeter.android.activity.invitation.view.InvitationActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/drawerlayoutStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.submeter.android.activity.myinfo.MyInfoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/drawerlayoutStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.submeter.android.activity.cityPie.view.CityPieActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/drawerlayoutStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.submeter.android.activity.scan.ScanActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/drawerlayoutStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.submeter.android.activity.invitation.view.InvitationDetailsActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.submeter.android.activity.messageDetail.view.MessageDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.submeter.android.activity.companyList.view.CompanyListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.submeter.android.activity.aboutUs.AboutUsActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.submeter.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.submeter.android.activity.commodityDetail.view.CommodityDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.submeter.android.activity.search.view.SearchActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.submeter.android.activity.commodityList.view.CommodityListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.submeter.android.activity.forgetPassword.view.UpdatePasswordActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.submeter.android.activity.companyInfo.view.CompanyInfoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.submeter.android.activity.handlingProblem.view.HandlingProblemActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.submeter.android.activity.companyGetOutInfo.view.CompanyGetOutInfoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.submeter.android.activity.processing.view.ProcessingActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.submeter.android.activity.main.fragment.message.view.MessageInfoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.submeter.android.activity.notice.view.NoticeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.submeter.android.activity.companyGetOutInfo.view.CompanyInfoFacilityActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/childPageStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"></service>
    </application>
</manifest>